@page
@model WebForm.Pages.Shared.DanhSachPhongThiThiSinhModel
@{
    ViewData["Title"] = "Website Quản Lý Trung Tâm Ngoại Ngữ";
    Layout = "_Layout";
}
@using BUS;
@using DTO;
@using Microsoft.AspNetCore.Http;
@{

}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách Phòng Thi của Thí Sinh</h4>
                        @{
                            List<PhongThiDTO> listphong = new List<PhongThiDTO>();
                            List<BaiThiDTO> listbaithi = new List<BaiThiDTO>();
                            string chungchi = "";
                            try
                            {
                                if (HttpContext.Session.GetString("layphongthi") == "true")
                                {
                                    string khoaphong = HttpContext.Session.GetString("khoaphongthi");
                                    listphong = new PhongThiBUS().ListAll().FindAll(x => x.Id_KhoaThi == khoaphong);
                                }
                            }
                            catch (Exception e) { }
                            try
                            {
                                if (HttpContext.Session.GetString("laydanhsach") == "true")
                                {
                                    string khoaphong = HttpContext.Session.GetString("khoaphongthi");
                                    string ma = HttpContext.Session.GetString("maphongthi");
                                    chungchi = new PhongThiBUS().ListAll().Find(x => x.Id_PhongThi == ma).TrinhDo;
                                    listbaithi = new BaiThiBUS().ListBaiThi().FindAll(x=>x.Id_PhongThi == ma);
                                }
                            }
                            catch (Exception e) { }
                        }
                        <form class="form-inline" method="post">
                            <label for="exampleInputName1">Khóa Thi</label>
                            <select class="form-control"
                                    asp-for="khoa" asp-items="@(new SelectList(Model.listkhoa,"Id_KhoaThi", "Ten_KhoaThi"))">
                            </select>

                            <label for="exampleInputName1" style="margin-left:5px">Phòng Thi</label>
                            <select class="form-control" style="margin-left:5px"
                                    asp-for="phong" asp-items="@(new SelectList(listphong,"Id_PhongThi", "Ten_PhongThi"))">
                            </select>
                            <input type="submit" asp-page-handler="getting" value="Lấy Phòng Thi" class="btn btn-primary mr-2" />
                            <input type="submit" asp-page-handler="list" value="Lấy Danh sách" class="btn btn-primary mr-2" />
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Số báo danh</th>
                                        <th>Họ tên Thí Sinh</th>
                                        <th>Giới tính</th>
                                        <th>SĐT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        List<ThiSinhDTO> thisinhs = new ThiSinhBUS().List();
                                        foreach (BaiThiDTO item in listbaithi)
                                        {
                                            string ten = thisinhs.Find(x=>x.Cccd_TS == item.Cccd_TS).HoTen_TS;
                                            string gioitinh = thisinhs.Find(x => x.Cccd_TS == item.Cccd_TS).GioiTinh_TS;
                                            string sdt = thisinhs.Find(x => x.Cccd_TS == item.Cccd_TS).Sdt_TS;
                                        <tr>
                                            <td>@item.SoBaoDanh</td>
                                            <td>@ten</td>
                                            <td>@gioitinh</td>
                                            <td>@sdt</td>
                                            <td>
                                                <form method="post">
                                                    <input type="hidden" asp-for="ten" value="@ten" />
                                                    <input type="hidden" asp-for="chungchi" value="@chungchi" />
                                                    <input type="hidden" asp-for="doc" value="@item.DiemDoc" />
                                                    <input type="hidden" asp-for="nghe"  value="@item.DiemNghe" />
                                                    <input type="hidden" asp-for="noi" value="@item.DiemNoi" />
                                                    <input type="hidden"  asp-for="viet" value="@item.DiemViet" />
                                                    <input type="submit" asp-page-handler="chungchi" value="Xem giấy chứng nhận" class="btn btn-primary mr-2" />
                                                </form>
                                            </td>
                                        </tr>
                                            }
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>