@page
@model WebForm.Pages.Shared.GiayChungNhanModel
@{
    ViewData["Title"] = "Website Quản Lý Trung Tâm Ngoại Ngữ";
    Layout = "_Layout";
}
@using BUS;
@using DTO;
@using Microsoft.AspNetCore.Http;
@{
    string sbd = HttpContext.Session.GetString("searchSBDgiaychungnhan");
    List<KetQuaThiDTO> listKetQuaThi = new List<KetQuaThiDTO>();
    //List<ThiSinhDTO> listThiSinh = new List<ThiSinhDTO>();
    KetQuaThiBUS busKQT = new KetQuaThiBUS();
    //ThiSinhBUS busTS = new ThiSinhBUS();
    listKetQuaThi = busKQT.List().FindAll(x => x.SoBaoDanh.Equals(sbd));
    //
    //listThiSinh = busTS.List();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Giấy chứng nhận kết quả thi</h4>

                        <form class="form-inline" method="post">
                            @*@{
                                string strSoBaoDanh = HttpContext.Session.GetString("search");
                                listKetQuaThi = listKetQuaThi.FindAll(x => x.SoBaoDanh.Contains(strSoBaoDanh));
                                HttpContext.Session.Remove("search");
                            }*@
                            
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên khoá thi</th>
                                        <th>CCCD</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại</th>
                                        <th>Mã bài thi</th>
                                        <th>Số báo danh</th>
                                        <th>Tên phòng thi</th>
                                        <th>Điểm nghe</th>
                                        <th>Điểm nói</th>
                                        <th>Điểm đọc</th>
                                        <th>Điểm viết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (KetQuaThiDTO item in listKetQuaThi)
                                        {

                                            <tr>
                                                <td>@item.Ten_KhoaThi</td>
                                                <td>@item.Cccd_TS</td>
                                                <td>@item.HoTen_TS</td>
                                                <td>@item.Sdt_TS</td>
                                                <td>@item.Id_BaiThi</td>
                                                <td>@item.SoBaoDanh</td>
                                                <td>@item.Ten_PhongThi</td>
                                                <td>@item.DiemNghe</td>
                                                <td>@item.DiemNoi</td>
                                                <td>@item.DiemDoc</td>
                                                <td>@item.DiemViet</td>

                                                <form asp-method="post">
                                                <td>
                                                    <input type="hidden" asp-for="ketquathi.Ten_KhoaThi" value="@item.Ten_KhoaThi" />
                                                    <input type="hidden" asp-for="ketquathi.Cccd_TS" value="@item.Cccd_TS" />
                                                    <input type="hidden" asp-for="ketquathi.HoTen_TS" value="@item.HoTen_TS" />
                                                    <input type="hidden" asp-for="ketquathi.Sdt_TS" value="@item.Sdt_TS" />
                                                    <input type="hidden" asp-for="ketquathi.Id_BaiThi" value="@item.Id_BaiThi" />
                                                    <input type="hidden" asp-for="ketquathi.SoBaoDanh" value="@item.SoBaoDanh" />
                                                    <input type="hidden" asp-for="ketquathi.Ten_PhongThi" value="@item.Ten_PhongThi" />
                                                    <input type="hidden" asp-for="ketquathi.DiemNghe" value="@item.DiemNghe" />
                                                    <input type="hidden" asp-for="ketquathi.DiemNoi" value="@item.DiemNoi" />
                                                    <input type="hidden" asp-for="ketquathi.DiemDoc" value="@item.DiemDoc" />
                                                    <input type="hidden" asp-for="ketquathi.DiemViet" value="@item.DiemViet" />
                                                </td>
                                                </form>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
