@page
@model WebForm.Pages.Shared.QuanLyKetQuaThiModel
@{
    ViewData["Title"] = "Website Quản Lý Trung Tâm Ngoại Ngữ";
    Layout = "_Layout";
}
@using BUS;
@using DTO;
@using Microsoft.AspNetCore.Http;
@{
    List<KetQuaThiDTO> listKetQuaThi = new List<KetQuaThiDTO>();
    List<KetQuaThiDTO> listsearchHoTen = new List<KetQuaThiDTO>();
    KetQuaThiBUS bus = new KetQuaThiBUS();
    KetQuaThiBUS bus2 = new KetQuaThiBUS();
    listKetQuaThi = new KetQuaThiBUS().List();
    listsearchHoTen = bus2.List();
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách Kết Quả Thi</h4>

                        <form class="form-inline" method="post">
                            <input type="text" asp-for="searchHoTen" class="form-control mb-2 mr-sm-2" style="margin-left:" placeholder="Tìm kiếm">

                            <input type="text" asp-for="searchSDT" class="form-control mb-2 mr-sm-2" style="margin-left:" placeholder="Tìm kiếm">

                            <input type="submit" asp-page-handler="search" class="btn btn-warning" value="Tìm" style="margin-left:">
                            <input type="text" asp-for="searchSBD" class="form-control mb-2 mr-sm-2" style="margin-left:" placeholder="Số báo danh">
                            <input type="submit" asp-page-handler="giaychungnhan" value="Giấy chứng nhận" class="btn btn-warning" />
                        </form>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tên khoá thi</th>
                                        <th>Ngày thi</th>
                                        <th>CCCD</th>
                                        <th>Họ tên</th>
                                        <th>Số điện thoại</th>
                                        <th>Mã bài thi</th>
                                        <th>Số báo danh</th>
                                        <th>Tên phòng thi</th>
                                        <th>Điểm nghe</th>
                                        <th>Điểm nói</th>
                                        <th>Điểm đọc</th>
                                        <th>Điểm viết</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (KetQuaThiDTO item in listKetQuaThi)
                                        {

                                            <tr>
                                                <td>@item.Ten_KhoaThi</td>
                                                <td>@item.NgayThi</td>
                                                <td>@item.Cccd_TS</td>
                                                <td>@item.HoTen_TS</td>
                                                <td>@item.Sdt_TS</td>
                                                <td>@item.Id_BaiThi</td>
                                                <td>@item.SoBaoDanh</td>
                                                <td>@item.Ten_PhongThi</td>
                                                <td>@item.DiemNghe</td>
                                                <td>@item.DiemNoi</td>
                                                <td>@item.DiemDoc</td>
                                                <td>@item.DiemViet</td>

                                                <td>
                                                    <input type="hidden" asp-for="ketquathi.Ten_KhoaThi" value="@item.Ten_KhoaThi" />
                                                    <input type="hidden" asp-for="ketquathi.NgayThi" value="@item.NgayThi" />
                                                    <input type="hidden" asp-for="ketquathi.Cccd_TS" value="@item.Cccd_TS" />
                                                    <input type="hidden" asp-for="ketquathi.HoTen_TS" value="@item.HoTen_TS" />
                                                    <input type="hidden" asp-for="ketquathi.Sdt_TS" value="@item.Sdt_TS" />
                                                    <input type="hidden" asp-for="ketquathi.Id_BaiThi" value="@item.Id_BaiThi" />
                                                    <input type="hidden" asp-for="ketquathi.SoBaoDanh" value="@item.SoBaoDanh" />
                                                    <input type="hidden" asp-for="ketquathi.Ten_PhongThi" value="@item.Ten_PhongThi" />
                                                    <input type="hidden" asp-for="ketquathi.DiemNghe" value="@item.DiemNghe" />
                                                    <input type="hidden" asp-for="ketquathi.DiemNoi" value="@item.DiemNoi" />
                                                    <input type="hidden" asp-for="ketquathi.DiemDoc" value="@item.DiemDoc" />
                                                    <input type="hidden" asp-for="ketquathi.DiemViet" value="@item.DiemViet" />
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>