@page
@model WebForm.Pages.Shared.XemGiayChungNhanModel
@{
    ViewData["Title"] = "Website Quản Lý Trung Tâm Ngoại Ngữ";
    Layout = "_Layout";
}
@using BUS;
@using DTO;
@using Microsoft.AspNetCore.Http;
@{
    string nghe = "";
    string noi = "";
    string doc = "";
    string viet = "";
    string tb = "";
    string ten = "";
    string chungchi = "";
    try
    {
        if (HttpContext.Session.GetString("xemchungchi") == "true")
        {
            nghe = HttpContext.Session.GetString("nghe");
            noi = HttpContext.Session.GetString("noi");
            doc = HttpContext.Session.GetString("doc");
            viet = HttpContext.Session.GetString("viet");
            tb = HttpContext.Session.GetString("tb");
            ten = HttpContext.Session.GetString("ten");
            chungchi = HttpContext.Session.GetString("chungchi");
        }
    }
    catch (Exception e) { }
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">

                        <h2 style="text-align: center;">CHỨNG CHỈ NGOẠI NGỮ</h2>
                        <h3 style="text-align: center;">Loại : @chungchi</h3>
                        <h2 style="text-align: left;">Họ Tên: @ten</h2>
                        <h2 style="text-align: left;">Điểm Nghe: @nghe</h2>
                        <h2 style="text-align: left;">Điểm Nói: @noi</h2>
                        <h2 style="text-align: left;">Điểm Đọc: @doc</h2>
                        <h2 style="text-align: left;">Điểm Viết: @viet</h2>
                        <h2 style="text-align: left;">Điểm TB: @tb</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
